
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


.FoodHeader{
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    border: 2px solid black;
    padding: 4px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    color: white;
    background-image: linear-gradient(45Deg,rgb(4, 4, 91),black);
}



.FoodHeader > ul {
    list-style: none;
    display: flex;
}

.FoodHeader > ul > li {
    margin: 10px;
    padding: 5px;
}

.logo{
    width: 50px;
    border-radius: 35px;
    margin: 3px 10px;
}


.restaurant-list{
    margin: 60px 0;
    display: flex;
    /* justify-content:space-evenly; */
    flex-wrap: wrap;
    
}



.card{
    /* border: 2px solid black; */
    width: 150px;
    height: 220px;
    padding: 10px;
    margin: 8px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cardcontent{
    height: 100%;
    font-size: 10px;
}

.card > img{
    width: 100%;
}


.shimmer-card {
        width: 200px;
        height: 200px;
        background: lightgrey;
        margin: 20px;
    }
    
.footer{
    display: flex;
    flex-direction: row;
    height: 27vh;
    color: white;
    background-image: linear-gradient(45Deg,rgb(4, 4, 91),black);
    /* position: fixed; */
    width: 100%; 
}

.footer-content{
    margin: 20px 10px;
}





.search-container{
    display: flex;
    text-align: center;
    margin: 20px 0;
    /* border: 2px solid black; */
    justify-content: center;
    align-items: center;
    
}

.search-container > input{
    font-size: 20px;
    width: 430px;
    /* margin-top: 10px; */
}
.all-btn{
    font-size: 14px;
    color: aliceblue;
    background-image: linear-gradient(45Deg,rgb(4, 4, 91),black);
    padding: 4px ;
    margin: 0 10px;
    font-weight: bold;
}

.null-restaurant{
    height: 160px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

.null-restaurant > img{
    height: 100%;

}

.all-btn:hover{
    background-color: #4545c1;
}

.about{
    height: 100vh;

}

.foodienav > ul{
    list-style: none;
}



@media screen and (max-width: 1024px){
    .card{
        width: 120px;
        height: 220px;
    }

    .search-container > input{
        font-size: 20px;
        width: 280px;
    }   

}
@media screen and (max-width: 768px){
    .card{
        width: 120px;
        height: 220px;
    }

    .restaurant-list{
        margin: 3rem;
    }
    
    .search-container > input{
        font-size: 20px;
        width: 280px;
    }   
    
}

@media screen and (max-width: 575px) {
    .card{
        width: 80px;
        height: 150px;
    }

    .cardcontent{
        font-size: 7px;
    }

    .restaurant-list{
        margin: 0;
    }

    .null-restaurant{
        height: 60px;
        font-size: 7px ;
    }

    .null-restaurant > h1{
        text-align: center;
    }

    .search-container > input{
        font-size: 10px;
        width: 280px;
    }   
    
    .all-btn{
        font-size: 10px;
        padding: 3px;
        font-size: 6px;
    }

    .footer-content{  
        font-size: 10px;
    }
  }

